[Unit]
Description=ros platform service
After=roscore.service
Requires=roscore.service

[Service]
User={{ ansible_user }}
ExecStart=/bin/bash -c "source /opt/ros/{{ ros_version }}/setup.bash; ROS_HOSTNAME=robot ROS_MASTER_URI=http://robot:11311 roslaunch omni_platform {{ launch_name }}.launch"

[Install]
WantedBy=multi-user.target