[Unit]
Description=roscore
After=network-online.target
Requires=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=/bin/bash -c "source /opt/ros/{{ ros_version }}/setup.bash; ROS_HOSTNAME=robot ROS_MASTER_URI=http://robot:11311 roscore"
ExecStartPost=/usr/bin/timeout 30 sh -c 'while ! ss -H -t -l -n sport = :11311 | grep -q "^LISTEN.*:11311"; do sleep 1; done'

[Install]
WantedBy=multi-user.target