[Unit]
Description=ros platform service
After=network.target
Requires=network.target

[Service]
User=szymonri
ExecStart=SCRIPT_FULL_PATH/code.sh

[Install]
WantedBy=multi-user.target


