[Unit]
Description=ros platform service
After=network.target,wheel_controller.service
Wants=network.target,wheel_controller.service

[Service]
User=szymonri
ExecStart=SCRIPT_FULL_PATH/ros.sh robot_platform joy_controller.launch

[Install]
WantedBy=multi-user.target


