[Unit]
Description=Platform ROS2 service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/bin/bash -c "cd /opt/ArduinoPlatformController/ && \
    docker build -t szymonrychu/platform:latest . && \
    docker run --privileged -d --rm \
        --name szymonrychu/platform:latest \
        --network host \
        -v /dev/serial/by-id/usb-Teensyduino_USB_Serial_5952630-if00:/dev/teensy1 \
        -v /dev/serial/by-id/usb-Teensyduino_USB_Serial_6075600-if00:/dev/teensy2 \
        -v /dev/serial/by-id/usb-Teensyduino_USB_Serial_5437890-if00:/dev/teensy3 \
        -v /dev/serial/by-id/usb-Teensyduino_USB_Serial_6075180-if00:/dev/teensy4 \
        szymonrychu/platform:latest"
ExecStop=/bin/bash -c "docker stop platform"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target