[Unit]
Description=ros platform service
After=network-online.target
Wants=network-online.target

[Service]
User=szymonri
ExecStart=SCRIPT_FULL_PATH/build_and_run.sh

[Install]
WantedBy=multi-user.target


