<launch>
  <node pkg="tf" type="static_transform_publisher" name="imu_to_robot_base" args="0 0 0 0 0 0 base_link platform/imu/data 10" />
  <node pkg="tf" type="static_transform_publisher" name="odom_to_robot_base" args="0 0 0 0 0 0 base_link platform/raw_odom 10" />
  
  <node pkg="robot_simplified" type="serial_handler" name="serial_handler" output="screen" respawn="true">
    <rosparam command="load" file="$(find robot_simplified)/params/serial.yaml" />
  </node>
  
  <node pkg="robot_simplified" type="robot_testing" name="robot_testing" output="screen" respawn="true">
    <rosparam command="load" file="$(find robot_simplified)/params/robot_testing.yaml" />
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <rosparam command="load" file="$(find robot_simplified)/params/ekf_template.yaml" />
  </node>

  <!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">

    <remap from="/gps/fix" to="/fix"/>
    <param name="magnetic_declination_radians" value="0"/>

    <param name="yaw_offset" value="0"/>

    <param name="zero_altitude" value="false"/>

    <param name="broadcast_utm_transform" value="false"/>

    <param name="publish_filtered_gps" value="false"/>

  </node> -->
</launch>