<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>
  
  <include file="$(find wheel_bridge)/launch/wheels.launch">
  </include>

  <include file="$(find rplidar_ros)/launch/rplidar.launch">
  </include>
  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch">
  </include>

  <include file="$(find imu_bridge)/launch/imu_bridge.launch">
  </include>

  <node pkg="tf" type="static_transform_publisher" name="laser_translation"  args="-0.07945   0     0.2225  3.14159265 0 0 /base_link /laser 50"/>

  <node pkg="tf" type="static_transform_publisher" name="kinect_translation" args="-0.14845   0     0.4645  3.14159265 3.0368729 3.14159265 /base_link /camera_link 50"/>


  
  <node pkg="platform" type="platform" name="platform" output="screen" respawn="true">
  </node>

</launch>
