<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>

  <node pkg="tf" type="static_transform_publisher" name="kinect_translation" args="-0.14845   0     0.4645  3.14159265 3.0368729 3.14159265 /base_link /camera_link 50"/>

  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch">
  </include>

  <include file="$(find robot_platform)/launch/rplidar_hector.launch">
  </include>

  <include file="$(find robot_platform)/launch/robot_platform.launch">
  </include>

</launch>
