
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>

  <node pkg="robot_platform" type="robot_platform" name="robot_platform" output="screen" respawn="true">

    <param name="serial_dev" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_13671670-if00" />
    <param name="serial_baudrate" type="int" value="115200" />

    <param name="raw_input_topic" value="/robot_platform/raw_serial_request" />
    <param name="raw_output_topic" value="/robot_platform/raw_serial_response" />

  </node>

</launch>
