
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>

  <arg name="map_frame" default="map" />
  <arg name="base_frame" default="base_stabilized"/>
  <arg name="odom_frame" default="base_frame"/>

  <arg name="scan_topic" default="scan"/>

  <include file="$(find i2c_imu)/launch/i2c_imu.launch">
  </include>

  <include file="$(find robot_platform)/launch/robot_platform.launch">
    <arg name="use_external_imu" type="bool" value="true" />
    <arg name="external_imu_topic" type="string" value="/i2c_imu" />


    <arg name="map_frame" type="string" value="$(arg map_frame)" />
    <arg name="base_frame" type="string" value="$(arg base_frame)" />
    <arg name="odom_frame" type="string" value="$(arg odom_frame)" />
    <arg name="scan_topic" type="string" value="$(arg scan_topic)" />
  </include>
</launch>
