
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>

  <include file="$(find wheel_bridge)/launch/wheels.launch">
  </include>
  
  <include file="$(find imu_bridge)/launch/imu_bridge.launch">
  </include>

  <node pkg="robot_platform" type="robot_platform" name="robot_platform" output="screen" respawn="true">

    <param name="wheel1_input_topic" value="/wheel_1" />
    <param name="wheel1_output_topic" value="/wheel_1_meta" />
    <param name="wheel1_translation" value="-0.13 0.23625 0.0575 0 0 0 /base_link /wheel1_pivot" />

    <param name="wheel2_input_topic" value="/wheel_2" />
    <param name="wheel2_output_topic" value="/wheel_2_meta" />
    <param name="wheel2_translation" value="0.13 0.23625 0.0575 0 0 0 /base_link /wheel2_pivot" />

    <param name="wheel3_input_topic" value="/wheel_3" />
    <param name="wheel3_output_topic" value="/wheel_3_meta" />
    <param name="wheel3_translation" value="-0.13 -0.23625 0.0575 0 0 0 /base_link /wheel3_pivot" />
    
    <param name="wheel4_input_topic" value="/wheel_4" />
    <param name="wheel4_output_topic" value="/wheel_4_meta" />
    <param name="wheel4_translation" value="0.13 -0.23625 0.0575 0 0 0 /base_link /wheel4_pivot" />

    <param name="tf2_base_link" value="/base_link" />
  </node>

</launch>
