<launch>
  <arg name="robot2serial_internal_topic" default="/platform/leftrighttimeimput"/>
  <arg name="serial2robot_internal_topic" default="/platform/pose2d"/>
  <arg name="serial_dev" default="/dev/serial/by-id/usb-Teensyduino_USB_Serial_13671670-if00"/>
  <arg name="state_ready_topic" default="robot/state/ready"/>
  <arg name="battery_state_topic" default="robot/battery"/>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>
  
  <node pkg="small_robot" type="robot" name="robot" output="screen" respawn="true">
    <param name="serial_dev" value="$(arg serial_dev)" />
    <param name="serial_baudrate" type="int" value="115200"/>
    <param name="state_ready_topic" value="$(arg state_ready_topic)" />
    <param name="battery_state_topic" value="$(arg battery_state_topic)" />
    
  </node>

</launch>