<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
<!-- 
  <include file="$(find wheel_bridge)/launch/wheel1.launch">
  </include>
  <include file="$(find wheel_bridge)/launch/wheel2.launch">
  </include>
  <include file="$(find wheel_bridge)/launch/wheel3.launch">
  </include> -->

  <include file="$(find rplidar_ros)/launch/rplidar.launch">
  </include>
  <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch">
  </include>

  <!-- <include file="$(find imu_bridge)/launch/imu_bridge.launch">
  </include> -->

  <node pkg="tf" type="static_transform_publisher" name="laser_translation"  args="-0.07945   0     0.2225  0 0 3.14159265 /base_link /laser 50"/>

  <node pkg="tf" type="static_transform_publisher" name="wheel0_translation" args=" 0.23625   0.13  0.0575  0 0 0 /base_link /base_wheel_0 50"/>
  <node pkg="tf" type="static_transform_publisher" name="wheel1_translation" args=" 0.23625  -0.13  0.0575  0 0 0 /base_link /base_wheel_1 50"/>
  <node pkg="tf" type="static_transform_publisher" name="wheel2_translation" args="-0.23625   0.13  0.0575  0 0 0 /base_link /base_wheel_2 50"/>
  <node pkg="tf" type="static_transform_publisher" name="wheel3_translation" args="-0.23625  -0.13  0.0575  0 0 0 /base_link /base_wheel_3 50"/>

  <node pkg="tf" type="static_transform_publisher" name="kinect_translation" args="-0.14845   0     0.4645  3.14159265 3.24631241 3.14159265 /base_link /camera_link 50"/>


  
  <node pkg="omni_platform" type="omni_platform" name="omni_platform" output="screen" respawn="true">
    <!-- <param name="serial_dev" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_6075600-if00" />
    <param name="baudrate" type="int" value="115200"/>
    <param name="wheel_id" type="int" value="1"/> -->
  </node>

</launch>
