[Unit]
Description=roscore
After=network.target
Requires=network.target

[Service]
User=jetson
Group=jetson
Restart=on-failure
ExecStart=/bin/bash -ce " \
  source /opt/ros/noetic/setup.bash; \
  source /opt/ros/noetic/network_env.sh; \
  roscore"

[Install]
WantedBy=multi-user.target