[Unit]
Description=ros platform service
After=docker.service
Wants=docker.service

[Service]
User=szymonri
ExecStart=SCRIPT_FULL_PATH/ros.sh robot_platform robot_platform.launch

[Install]
WantedBy=multi-user.target


