<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>
  <env name="ROS_LOG_DIR" value="/tmp/"/>
  
  <node pkg="tf" type="static_transform_publisher" name="wheel_static_transform_1" args=" 0.23625   0.13  0.0575  0 0 0 /base_link /base_wheel_1 50"/>
  
  <node pkg="wheel_bridge" type="wheel_bridge" name="wheel1" output="screen" respawn="true">
    <param name="serial_dev" value="/dev/serial/by-id/usb-Teensyduino_USB_Serial_6075600-if00" />
    <param name="baudrate" type="int" value="115200"/>

    <param name="input_topic" value="/wheel_1" />
    <param name="output_topic" value="/wheel_1_meta" />

    <param name="tf2_base_link" value="base_wheel_1" />
    <param name="tf2_output" value="wheel_1" />
  </node>

</launch>
